@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #ffbb00;
    --yellow-color: #ffbb00;
    --transition-speed: 0.5s;
  --transition-timing: ease;
    --whitesmoke-color: #fafafa;
    --blue-color: #2c7de7;
    --black-color: #292929;
    --gray-color: #ababab;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Utility Classes */
.custom-text-shadow{
    text-shadow: 1px 1px 2px var(--gray-color);
}
.drop-shadow {
    box-shadow: 0px 4px 8px 0px #0000000f, 0px 0px 4px 0px #0000000a !important;
}
.cursor-pointer{
    cursor: pointer;
}
.text-primary-color{
    color: var(--primary-color);
}
.text-justify{
    text-align: justify;
}
.lh-17{
    line-height: 1.7;
}
.bg-primary-color{
    background-color: var(--primary-color);
}

.bg-yellow-color{
    background-color: var(--yellow-color);
}
.bg-transparent{
    background-color: transparent !important;
}
.bg-black-color{
    background-color: var(--black-color);
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-mont{
    font-family: "Montserrat", sans-serif;
}
.clamp-2 {
  display: -webkit-box;         
  -webkit-line-clamp: 2;         
  -webkit-box-orient: vertical;  
  overflow: hidden;              
  text-overflow: ellipsis;       
}
iframe{
    width: 100% !important;
    height: 100% !important;
}
.youtube > div{
  min-height: 250px !important;
}
.text-yellow{
    color: var(--yellow-color);
}
.text-gray{
    color: var(--gray-color);
}
.text-outline {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
}
.text-xs{
    font-size: 12px;
}
p{
    text-align: justify !important;
    line-height: 1.9 !important;
    padding: 5px 0 !important;
}
li{
    text-align: justify !important;
    line-height: 1.9 !important;
    padding: 3px 0 !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.nav-link{
    border-bottom: 3px solid transparent !important;
}
.nav-link.active,.nav-link:hover{
    border-bottom: 3px solid var(--primary-color) !important;
}
.btn-article-readmore {
            background-color: #e0e7ff;
            text-decoration: none;
            color: #4338ca;
            border-radius: 9999px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
.btn-article-readmore:hover {
            background-color: #c7d2fe; 
            color: #3730a3; 
            transform: scale(1.05);
        }

.btn-view-all {
        position: relative;
        text-decoration: none !important; 
        padding-bottom: 3px; 
        color: #555 !important;
    }

    .btn-view-all::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px; 
        left: 0;
        bottom: 0;
        background-color: var(--primary-color); 
        transition: width 0.3s ease-out; 
    }

    .btn-view-all:hover::after {
        width: 100%; 
    }
.card-shadow {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .075) !important; 
    transition: box-shadow 0.3s ease; 
}

.card-shadow:hover {
    box-shadow: 0 0 .5rem var(--primary-color) !important; 
}

/* Article Card  */
.see-more-btn {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: var(--whitesmoke-color);
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
}

.see-more-btn:hover {
    color: var(--blue-color) !important;
}
.see-more-btn:hover .btn-text svg path {
    fill: var(--blue-color) !important;
}

.see-more-btn:hover .btn-text::after {
    width: 100%;
}
.btn-text {
    padding-bottom: 8px;
    position: relative;
}
.btn-text::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--blue-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-out;
}

/* Home Page Styles */
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.carousel-item{
    background-color: black !important;
}
.carousel-item img{
    width: 100% !important;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    opacity: 0.55;
}
.carousel-caption{
    color: white !important;
    bottom: 50% !important;
    transform: translateY(50%);
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    background-color: white !important;
    border-radius: 50%;
}
.bible{
    width: 120px;
}
/* About Us Page Styles */

.banner-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
}
.banner-text{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.banner-image::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

/* Activities Page Styles */
.expand {
  width: 45px;
  height: 45px;
  transform: scale(0);
  transition: transform var(--transition-speed) var(--transition-timing);
}

.zoom-in {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem; 
}

.zoom-in > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-speed) var(--transition-timing);
}
.zoom-in:hover > img {
  transform: scale(1.4);
}

.zoom-in:hover .gallery-overlay {
  opacity: 0.6;
  visibility: visible;
}

.zoom-in:hover .expand {
  transform: scale(1);
}

.zoom-in:hover .gallery-title {
  bottom: 4px;
  opacity: 1;
}

.gallery-overlay {
  position: absolute;
  inset: 0;
  z-index: 1; 
  
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  transition: opacity var(--transition-speed) var(--transition-timing),
              visibility var(--transition-speed) var(--transition-timing);
}

.gallery-title {
  position: absolute;
  z-index: 2; 
  bottom: -100%; 
  left: 0;
  
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0; 
  transition: bottom 0.3s var(--transition-timing),
              opacity 0.3s var(--transition-timing);
}

/* --- Modal Container --- */
.modal-container {
  position: fixed;
  inset: 0; 
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.modal-box{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 600px;
    z-index: 4;
}

/* Media Queries */
/* @media screen and (min-width: 768px) {
    .logo{
        width: 90px;
        height: 90px;
    } */
/* }
@media screen and (min-width: 992px) {
    .logo{
        width: 100px;
        height: 100px;
    }
} */